html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('../images/bg-pattern.png');
}

li {
  list-style: none;
}

.search-form {
  display: flex;
  // justify-content: center;
  padding: 8px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.photo-card {
  border: 1px solid olive;
  border-radius: 3px;
  overflow: hidden;

  // box-shadow: 5px 5px 12px 3px, rgb (0 0 0 / 50%);
}

.stats {
  display: flex;
  justify-content: space-around;

  padding-top: 3px;
}

.stats-item {
  display: block;
  text-align: center;
  display: inline-grid;
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 0;
}

/* Images List */
.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.images li {
  height: 260px;
  overflow: hidden;
}

.images img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.images a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 15px;
}
